@{
    ViewBag.Title = "查看值班记录详情";
}

@using EHECD.FirePatrolInspection.Entity
@model EHECD_DutyRecord

<table class="gridtable">
    <tr>
        <td style="width: 80px">值班情况：</td>
        <td>
            @Model.sDesc
        </td>
    </tr>
    <tr>
        <td style="width: 80px">值班记录表：</td>
        <td>
            @if (!string.IsNullOrWhiteSpace(Model.sImageSrc))
            {
                var imagesSrc = Model.sImageSrc.Split(',');
                for (var i = 0; i < imagesSrc.Length; i++)
                {
                    <img src="@imagesSrc[i]" onclick="test('@imagesSrc[i]');" style="width: 300px" />
                }
            }
            else
            {
                <span>-</span>
            }
        </td>
    </tr>
</table>

<div id="win" class="easyui-window" title="查看大图" closed="true" style="width: 100%; height: 100%"
     data-options="iconCls:'icon-save',modal:true,collapsible:false,minimizable:false,maximizable:false,maximized:true">
    <div style="display: block; width: 100%; height: 100%; text-align: center">
        <img src="" style="height: 100%; display: block" />
    </div>
</div>

<script>
    function test(src) {
        $("#win img").attr("src", src);
        $("#win").window('open');
    }
</script>