@{
    ViewBag.Title = "使用单位申请管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/backstage/js/My97DatePicker/WdatePicker.js"></script>

<div id="datagrid_list_toolbar_use_apply_unit">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-redo',plain:true" onclick="Adopt()">同意</a>&nbsp;&nbsp;
    <a class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="Refused()">拒绝</a>&nbsp;&nbsp;
    <a class="easyui-linkbutton" data-options="iconCls:'icon-detail',plain:true" onclick="Detail()">查看详情</a>&nbsp;&nbsp;
    <form id="search_form_use_apply_unit">
        <span style="margin-left: 5px">模糊查询：</span><input name="condition.sKeyword" type="text" data-options="prompt:'请输入账号/单位名称'" class="easyui-textbox"/>
        <span style="margin-left: 5px">申请时间：</span>
        <input type="text" id="dStartTime" name="condition.dStartTime" readonly="readonly" placeholder="开始时间" onclick="WdatePicker({ skin: 'twoer', dateFmt: 'yyyy-MM-dd' })" class="Wdate query-datepicker" />&nbsp;~
        <input type="text" id="dEndTime" name="condition.dEndTime" readonly="readonly" placeholder="结束时间" onclick="WdatePicker({ skin: 'twoer', dateFmt: 'yyyy-MM-dd' })" class="Wdate query-datepicker" />&nbsp;&nbsp;
        <span style="margin-left: 5px">状态：</span>
        <select name="condition.iAuditState" class="query-sel">
            <option value="">全部</option>
            <option value="0" selected>待审核</option>
            <option value="1">已通过</option>
            <option value="2">已拒绝</option>
        </select>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="datagridReload();">查询</a>
    </form>
</div>
<table id="datagrid_use_apply_unit"></table>
<script type="text/javascript">
    $(function () {
        window.datagrid = $('#datagrid_use_apply_unit').datagrid({
            //checkbox: true,
            singleSelect: true, //是否单选
            title: '申请管理',
            remoteSort: false,
            pagination: true,
            striped: true,
            pageSize: 20,
            toolbar: "#datagrid_list_toolbar_use_apply_unit",
            border: false,
            pageList: [20, 30, 50],
            rownumbers: true, //行号
            method: "post",
            loadMsg: '数据加载中请稍后……',
            queryParams: $("#search_form_use_apply_unit").serializeObject(),
            url: '/Admin/Unit/GetUseDeptGridData',
            fit: true, //自动大小 
            idField: 'ID',
            columns: 
			[
                [
                    {
						field: 'sPhone', title: '申请账号', width: 100
                    },
                    {
                        field: 'sName', title: '单位名称', width: 150
                    },
                    {
                        field: 'sAddress', title: '单位地址', width: 200, formatter: function (value, row, index) {
                            if (row["ID"] == undefined) {
                                return value;
                            }
                            return value.length > 20 ? value.substr(0, 20) + '...' : value;
                        }
                    },
                    {
						field: 'sAdminName', title: '平台管理员', width: 100
                    },
                    {
						field: 'sContact', title: '联系电话', width: 100
                    },
                    {
                        field: 'dCreateTime', title: '申请时间', width: 150
                    },
                    {
                        field: 'iAuditState', title: '审核状态', width: 100, formatter: function (value, row, index) {
                            if (row["ID"] == undefined) {
                                return value;
                            }
                            switch (value) {
                                case 0:
                                    return "待审核";
                                case 1:
                                    return "已通过";
                                case 2:
                                    return "已拒绝";
                            }
                        }
                    },
                    {
                        field: 'sOperator', title: '操作人', width: 100
                    }
                ]
            ],
            onDblClickRow: function(rowIndex, rowData) {
                showDialog(rowData.ID);
            },
            onLoadSuccess: function(data) {
                if (data.total == 0) {
                    $(this).datagrid('appendRow', { sPhone: '<div style="text-align:center;color:#7f99be">暂无申请信息！</div>' }).datagrid('mergeCells', { index: 0, field: 'sPhone', colspan: 8 });
                    $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
                }
                else {
                    $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').show();
                }
            }
        });

        $("#search_form_use_apply_unit").keydown(function (e) { 
            if (e.keyCode == 13) {
                e.preventDefault(); //阻止冒泡
                datagridReload();
                return;
            }
        });
    });
	
	 //查询
    function datagridReload() {
        $('#datagrid_use_apply_unit').datagrid('load', $("#search_form_use_apply_unit").serializeObject());
        $('#datagrid_use_apply_unit').datagrid('clearSelections');

    };

    //直接加载
    function reload(init) {
        var getPager = $('#datagrid_use_apply_unit').datagrid('getPager');
        if (init)
            getPager.pagination('select', 1);
        else
            getPager.pagination('select');
    }

    //查看详情
    function Detail() {
        var rows = $('#datagrid_use_apply_unit').datagrid("getSelections");
        if (rows.length == 0) {
            msgShow('提示', '请选择一个申请!', 'warning');
            return;
        }
        if (rows.length > 1) {
            msgShow('提示', '只能选择一个申请!', 'warning');
            return;
        }
        if (rows[0].ID == undefined) {
            msgShow('提示', '暂无申请!', 'warning');
            return;
        }
        showDialog(rows[0].ID);
    }

    //打开详情页面
    function showDialog(id, title) {
        if (id == undefined) {
            msgShow('提示', '暂无申请!', 'warning');
            return;
        }
        window.detailWindow = $('<div />').dialog({
            title: '查看申请详情',
            iconCls: 'icon-save',
            width: 500,
            height: 400,
            closed: false,
            cache: false,
            href: '/Admin/Unit/UseDeptApplyDetail/' + id,
            modal: true,
            buttons: [
                {
                    text: '关闭',
                    iconCls: 'icon-no',
                    handler: function (e) {
                        detailWindow.dialog('close');
                    }
                }
            ]
        });
    }

    //清除所选项
    function clearSelections() {
        $('#datagrid_use_apply_unit').datagrid('clearSelections');
    }

    // 通过
    function Adopt() {
        var rows = $('#datagrid_use_apply_unit').datagrid("getSelections");
        if (rows.length == 0) {
            msgShow('提示', '请选择一个申请!', 'warning');
            return;
        }
        if (rows.length > 1) {
            msgShow('提示', '只能选择一个申请!', 'warning');
            return;
        }
        if (rows[0].ID == undefined) {
            msgShow('提示', '暂无申请!', 'warning');
            return;
        }
        if (rows[0].iAuditState > 0) {
            msgShow('提示', '已审数据无法再次审核!', 'warning');
            return;
        }
        $.messager.confirm('确认', "你确定通过该申请？", function (ok) {
            if (ok) {
                $.post('/Admin/Unit/Adopt', { iUnitID: rows[0].ID }, function (res) {
                    if (res && res.success) {
                        reload(1);
                        clearSelections();
                        msgShow('提示', res.message, 'info');
                    } else {
                        res && (msgShow('提示', res.message, 'warning'));
                    }
                }, 'json');
            }
        });
    }

    // 拒绝
    function Refused() {
        var rows = $('#datagrid_use_apply_unit').datagrid("getSelections");
        if (rows.length == 0) {
            msgShow('提示', '请选择一个申请!', 'warning');
            return;
        }
        if (rows.length > 1) {
            msgShow('提示', '只能选择一个申请!', 'warning');
            return;
        }
        if (rows[0].ID == undefined) {
            msgShow('提示', '暂无申请!', 'warning');
            return;
        }
        if (rows[0].iAuditState > 0) {
            msgShow('提示', '已审数据无法再次审核!', 'warning');
            return;
        }
        $.messager.confirm('确认', "你确定拒绝该申请？", function (ok) {
            if (ok) {
                $.post('/Admin/Unit/Refused', { iUnitID: rows[0].ID }, function (res) {
                    if (res && res.success) {
                        reload(1);
                        clearSelections();
                        msgShow('提示', res.message, 'info');
                    } else {
                        res && (msgShow('提示', res.message, 'warning'));
                    }
                }, 'json');
            }
        });
    }
</script>