/消防巡检/.vs/
**/bin
**/obj
/消防巡检/EHECD.FirePatrolInspection.Web/Log/
/消防巡检/EHECD.FirePatrolInspection.Web/Logs/
/消防巡检/packages/
/消防巡检/消防巡检/.vs/
/EHECD.FirePatrolInspection.Web/Log
/EHECD.FirePatrolInspection.Web/Logs
