.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:13px;
	color:#333333;
	border-width: 1px;
	border-color: #e4e4e4;
	border-collapse: collapse;
    width:100%;

    /*jr 17.3.16*/
    table-layout: fixed;
}
.gridtable td {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #ccc;
	background-color: #ffffff;

    /*jr 17.3.16*/
    word-wrap: break-word;
}
.gridtable tr td:nth-child(odd) {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #ccc;
	background-color: #FBFBFB;
    text-align:right;
}