<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!--<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
	<!--分享使用-->
	<meta itemprop="name" content="" />
	<meta itemprop="description" name="description" content="" />
	<meta itemprop="image" content="img_url" />
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="../css/global.css">
	<link rel="stylesheet" type="text/css" href="../css/zyl.css" />
	<link rel="stylesheet" type="text/css" href="../css/myh.css" />
	<style>
		.checkbox-label input:checked+span::before{
			width: .22rem;
			height: .22rem;
			background-color: #E8252A;
		}
		.checkbox-label input:checked+span::after{
			width: .12rem;
			height: .12rem;
			background-color: #eee;
		}
		.checkbox-label input:checked+span::before, .checkbox-label input:checked+span::after{
			border-radius: 50%;
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			display: inline-block;
			content: '';
		}
	</style>
</head>

<body>
	<section class="main hgt_all flex_column">

		<!-- 公共header -->
		<header>
			<i id="backBtn" class="flex_1"></i>
			<h1 class="flex_2 text-center">选择所属部门</h1>
			<a class="flex_1" href="javascript:void(0);"></a>
		</header>

		<!-- 主要内容 -->
		<div class="p_both20r main-fix p-v-30r">

			<!-- 选择所属使用单位 -->
			<div class="p-b-30r" v-for="(item1,key1) in unitData" :data-unitId="item1.ID" v-cloak>
				<h4 class="font24r fw-b">{{ item1.sName }}</h4>
				<div v-for="(item2,key2) in item1.DeptList"  class="l-h-09rem border-b-eee">
					<label class="checkbox-label block wid100 between-center flex_dom" :for="[item1.ID,item2.ID]">
						<p class="font24r color-333">{{ item2.sName }}</p>
						<input :id="[item1.ID,item2.ID]" type="radio" name="cunit" :data-deptId="item2.ID" hidden>
						<span class="block radius_half relative" style="width: .37rem;height: .37rem; background-color: #eee;"></span>
					</label>
				</div>
			</div>



		</div>

		<!-- 底部按钮 -->
		<footer @click="submit" class="btn-wrap hgt08rem bg-red center-center">
			<button class="color-fff font24r block">提交申请</button>
		</footer>

	</section>
</body>
<script type="text/javascript" src="../lib/jquery.1.11.3.min.js"></script>
<script type="text/javascript" src="../lib/uploadPreview.js"></script>
<script type="text/javascript" src="../lib/con_js.6.23.js"></script>
<script type="text/javascript" src="../lib/vue.js"></script>
<script type="text/javascript" src="../lib/swiper.min.js"></script>
<script type="text/javascript" src="../lib/date-choice.js"></script>
<script type="text/javascript" src="../lib/form-check.js"></script>
<script type="text/javascript" src="../lib/dragDown.js"></script>
<script type="text/javascript" src="../lib/wx_func.js"></script>
<script type="text/javascript" src="../lib/page.js"></script>
<script>

    // 初始化vue实例
    vue_init({
        data: {
            unitData: [],
            sDeptIds: [],
        },
        mounted: function () {
            // 获取用户选的单位ID集 数组
            let unitIds = JSON.parse(localStorage.sData).sUnitIds.split(',')
            // 获取部门列表
            go_ajax({
                type: 'post',
                url: '/router?method=unit.getlist',
                success: function (res) {
                    //app.unitData = res.data
                    // 循环单位
                    for(item of res.data) {
                    // 循环用户所选单位
                        for(item2 of unitIds) {
                            // 如果单位id和用户所选id相同 把单位加到unitData
                            if (item.ID == parseInt(item2)) {
                                app.unitData.push(item)
                            }
                        }
                    }
                }
            })
        },
        methods: {
            submit() {
                var checked = 0
                app.sDeptIds = []
                $('input[type=checkbox]').each(function () {
                    if (this.checked) {
                        checked++;
                        app.sDeptIds.push(this.dataset.deptid)
                    }
                })
                // 表单所有数据sData
                var sData = JSON.parse(localStorage.sData)
                if (checked > 0) {
                    go_ajax({
                        url: "/router?method=client.register",
                        data: {
                            "sPhone": sData.sPhone,
                            "sValidate": sData.sValidate,
                            "sPwd": sData.sPwd,
                            "sName": sData.sName,
                            "sUnitIds": sData.sUnitIds,
                            "sDeptIds": app.sDeptIds.join(),
                            "sCredentials": ""
                        },
                        success: function (res) {
                            go_alert("申请已提交，请等待后台审核")
                        }
                    })
                } else {
                    go_alert("请选择所属部门")
                }

            }
        }
    })

    // 后退按钮
    goBack()

</script>
<!--<script src="http://www.lelinmei.com/html/weixin2.php?callback="></script>-->

</html>