			
@{
    ViewBag.Title = "资讯管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/ueditor/ueditor.config.js"></script>
<script src="~/Content/ueditor/ueditor.all.min.js"></script>
<div id="datagrid_list_toolbar_news_article">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="showSetDialog(0,'添加资讯')">添加</a>&nbsp;&nbsp;
    <a class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="Edit()">编辑</a>&nbsp;&nbsp;
    <a class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="Delete()">删除</a>&nbsp;&nbsp;
    <a class="easyui-linkbutton" data-options="iconCls:'icon-detail',plain:true" onclick="Detail()">查看详情</a>&nbsp;&nbsp;
    <form id="search_form_news_article">
        <span style="margin-left: 5px">关键字：</span><input name="condition.sName" type="text" data-options="prompt:'请输入标题'" class="easyui-textbox"/>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="datagridReload();">查询</a>
    </form>
</div>
<table id="datagrid_news_article"></table>
<script type="text/javascript">
    $(function() {
        window.datagrid = $('#datagrid_news_article').datagrid({
            checkbox: true,
            // singleSelect: true, //是否单选
            title: '资讯管理',
            remoteSort: false,
            pagination: true,
            striped: true,
            pageSize: 20,
            toolbar: "#datagrid_list_toolbar_news_article",
            border: false,
            pageList: [20, 30, 50],
            rownumbers: true, //行号
            method: "post",
            loadMsg: '数据加载中请稍后……',
            queryParams: $("#search_form_news_article").serializeObject(),
            url: '/Admin/Article/GetNewsGridData',
            fit: true, //自动大小 
            idField: 'ID',
            columns: 
			[
                [
                    {
						field: 'ID', checkbox: true 
                    },
                    {
                        field: 'sTitle', title: '标题', width: 300, formatter: function (value, row, index) {
                            if (row["ID"] == undefined) {
                                return value;
                            }
                            return value.length > 20 ? value.substr(0, 20) + '...' : value;
                        }
                    },
                    {
                        field: 'dCreateTime', title: '创建时间', width: 150
                    },
                    {
						field: 'sSortNumber', title: '排序序号', width: 100
                    }
                ]
            ],
            onDblClickRow: function(rowIndex, rowData) {
                showDialog(rowData.ID);
            },
            onLoadSuccess: function(data) {
                if (data.total == 0) {
                    $(this).datagrid('hideColumn', 'ID');
                    $(this).datagrid('appendRow', { sTitle: '<div style="text-align:center;color:#7f99be">暂无资讯信息！</div>' }).datagrid('mergeCells', { index: 0, field: 'sTitle', colspan: 3 });
                    $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
                }
                else {
                    $(this).datagrid('showColumn', 'ID');
                    $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').show();
                }
            }
        });

        $("#search_form_news_article").keydown(function (e) { 
            if (e.keyCode == 13) {
                e.preventDefault(); //阻止冒泡
                datagridReload();
                return;
            }
        });
    });
	
	 //查询
    function datagridReload() {
        $('#datagrid_news_article').datagrid('load', $("#search_form_news_article").serializeObject());
        $('#datagrid_news_article').datagrid('clearSelections');
    };

    //直接加载
    function reload(init) {
        var getPager = $('#datagrid_news_article').datagrid('getPager');
        if (init)
            getPager.pagination('select', 1);
        else
            getPager.pagination('select');
    }

    //查看详情
    function Detail() {
        var rows = $('#datagrid_news_article').datagrid("getSelections");
        if (rows.length == 0) {
            msgShow('提示', '请选择一个资讯!', 'warning');
            return;
        }
        if (rows.length > 1) {
            msgShow('提示', '只能选择一个资讯!', 'warning');
            return;
        }
        if (rows[0].ID == undefined) {
            msgShow('提示', '暂无资讯!', 'warning');
            return;
        }
        showDialog(rows[0].ID);
    }

    //打开详情页面
    function showDialog(id, title) {
        if (id == undefined) {
            msgShow('提示', '暂无资讯!', 'warning');
            return;
        }
        window.detailWindow = $('<div />').dialog({
            title: '查看资讯详情',
            iconCls: 'icon-save',
            width: 800,
            height: 500,
            closed: false,
            cache: false,
            href: '/Admin/Article/DetailNews/' + id,
            modal: true,
            buttons: [
                {
                    text: '关闭',
                    iconCls: 'icon-no',
                    handler: function (e) {
                        detailWindow.dialog('close');
                    }
                }
            ]
        });
    }

    //编辑功能
    function Edit() {
        var rows = $('#datagrid_news_article').datagrid("getSelections");
        if (rows.length == 0) {
            msgShow('提示', '请选择一个资讯!', 'warning');
            return;
        }
        if (rows.length > 1) {
            msgShow('提示', '只能选择一个资讯!', 'warning');
            return;
        }
        showSetDialog(rows[0].ID, '编辑资讯');
    }
    //打开编辑页面
    function showSetDialog(id, title) {
        window.setWindow = $('<div />').dialog({
            title: title,
            iconCls: 'icon-save',
            width: 800,
            height: 500,
            closed: false,
            cache: false,
            href: '/Admin/Article/SetNews/' + id + "?iType=2",
            modal: true,
            buttons: [
                {
                    text: '保存',
                    iconCls: 'icon-ok',
                    id: 'save_window_okbtn_news_article',
                    handler: function(e) {
                        window.saveModel();
                    }
                }, {
                    text: '关闭',
                    iconCls: 'icon-no',
                    handler: function(e) {
                        setWindow.dialog('close');
                    }
                }
            ],
            onClose: function () {
                UE.getEditor("sContent").destroy(); //关闭后摧毁编辑器
                setWindow.dialog('destroy');
            }
        });
    }

    //清除所选项
    function clearSelections() {
        $('#datagrid_news_article').datagrid('clearSelections');
    }
	
	 //删除资讯
    function Delete() {
        var selectIds = [];
        var rows = $('#datagrid_news_article').datagrid("getSelections");
        if (rows.length > 0) {
            for (var i = 0; i < rows.length; i++) {
                selectIds.push(rows[i].ID);
            }
        }

        //判断是否选择数据
        if (selectIds.length < 1) {
            msgShow('提示', '至少选择一条信息进行删除操作', 'warning');
            return;
        }
        $.messager.confirm('确认', "你确定删除所有选中的信息共" + selectIds.length + "条数目？", function(ok) {
            if (ok) {
                $.post('/Admin/Article/DeleteNews', { sIds: selectIds.join() }, function (res) {
                    if (res && res.success) {
                        reload(1);
						clearSelections();
                        msgShow('提示', res.message, 'info');
                    } else {
                        res && (msgShow('提示', res.message, 'warning'));
                    }
                }, 'json');
            }
        });
    }
</script>